{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Статистика рекламных компаний</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <ul class="list-group">
            {% for ad in ads %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                <a href="{% url 'app:ads-detail' pk=ad.pk %}" class="text-decoration-none link-dark">{{ ad.name }}</a>
                <p>Не активных клиентов: {{ ad.inactive_clients_count }} | Активных клиентов: {{ ad.active_clients_count }} | Количество контрактов: {{ ad.contracts_count }} | Рекламный бюджет {{ ad.budget }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}